html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 8px 12px -2px;
    z-index: 999;
    overflow: hidden;
    background: #ffff;
}

.navbar{
  box-shadow: rgba(184, 189, 198, 0.25) 0px 0px 0px 60px;
  margin-top: 8px;
  height: 60px;
}

h2{
  text-align: center;
  color: green;
  font-family: 'Times New Roman';
}

.mainNav .navbar-brand img {
  width: 85px;
  height: 61px;
  margin-left: 25px;
}

.mainNav .nav-item .nav-link {
  font-size: 22px;
  font-weight: 600;
  color: black !important;
  margin-left: 30px;
}

.mainNav .nav-item .nav-link:hover {
  color: green !important;
}

.mainNav .nav-item.active .nav-link {
  color: firebrick !important;
}
/*
.mainNav .nav-item {
  padding-left: 3rem;
}
*/

#loginBtn{
  width: 90px;
  border-radius: 18px;
  text-align: center;
  font-size: 18px;
  color: black;
  border: 2px solid rgb(39, 246, 39);
  font-weight: bold;
  margin-right: 25px ;
  padding-bottom: 4px;
}
#loginBtn:hover {
  background: rgb(29, 245, 29);
  color: #fff;
}

.search {
  width: 25px;
  cursor: pointer;
  margin-right: 40px;
}

#searchModal .modal-content {
  min-height: 500px;
  max-height: 600px;
  
}

#searchBox {
  width: 390px;
  margin-left: 40px;
  font-size: 20px;
  color: #000;
  font-style: italic;
  background-color: rgba(184, 189, 198, 0.25);
}
/*
#searchBox::placeholder {
  color: #000;
}
*/

.sectionTitle {
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 45px;
  font-weight: bold;
  color: green;
}

.sectionSubTitle {
  font-size: 20px;
  max-width: 75%;
  margin: 0 auto;
  padding-top: 20px;
}
.filterTitle {
  font-size: 22px;
  font-weight: bold;
  color: green;
  padding: 15px 0;
  padding-bottom: 5px;
}
.selectFilters .form-control {
  margin-right: 10px;
  width: 140px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.selectFilters .form-group {
  margin-top: 3px;
  margin-bottom: 30px;
  
}

#headLine {
  padding-top: 10px;
}

.catTtile {
  width: 180px;
  border: 2px solid darkred;
  font-size: 25px;
  font-weight: 700;
  padding-left:  11px;
  padding-bottom: 3px;
  border-radius: 10
  px;
  background-color: rgba(22, 24, 28, 0.25);
}

.categories {
  margin-top: 0px;
  margin-bottom: 50px;
}

.list-group{
  margin-left: 20px;
  margin-right: 15px;
}
.allMultiCards .card {
  height: 250px;
  border-radius: 15px;
  margin-bottom: 30px;
}

.allMultiCards .card.tree1 {
  background: darkblue;
}
.allMultiCards .card.tree2 {
  background: rebeccapurple;
}
.allMultiCards .card.tree3 {
  background: pink;
}
.allMultiCards .card.tree4 {
  background: yellow;
}
.allMultiCards .card.tree5 {
  background: cyan;
}
.allMultiCards .card.tree6 {
  background: blue;
}
.allMultiCards .card.tree7 {
  background: green;
}
.allMultiCards .card.tree8 {
  background: red;
}

.step2{
  width: 100%;
  height: 400px;
  padding: 20px;
  border: 2px solid red;
  margin-top: 80px;
  background-color: rgb(2, 52, 30);

}
.two{
  text-align: center;
  font-size: 40px;
  color: white;
  font-weight: bold;
}
.para2{
  width: 900px;
  text-align: center;
  font-size: 23px;
  color: white;
  margin-left: 200px;
  font-weight: bold;
  
}
